* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html {
    background-color: #f7a825;
}
.art img{
    width: 32%;
    height: 60vh;
    position: absolute;
    margin-top: 15%;
    margin-left: 15%;
}
.title {
    color: #FFF;
    text-align: center;
    margin-top: 10%;
    margin-left: 22%;
    font-size: large;
    font-weight: 100;
    position: absolute;
}
.return {
    position: absolute;
    width: 3%;
    height: 41px;  
    margin-top: 4%;
    margin-left: 6%;
}
.return img {
    width: 50%;
    margin-left: 20%;
    margin-top: 18%;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #000;
    padding: 10.5px;
}
.return:hover {
    filter: brightness(0.9);
}
.form {
    width: 30%;
    height: 70vh;
    float: right;
    margin-right: 15%;
    background-color: #eff3f9e5;
    border-radius: 10px;
    margin-top: 5%;
    padding: 20px;
    padding-top: 50px;
    padding-left: 10px;
}
.button {
    background-color: #c72a2a;
    color: #fff;
    width: 45%;
    height: 44px;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 8%;
    font-size: 18px;
    border: transparent;
}
.button_2 {
    background-color: #c72a2a;
    color: #fff;
    width: 60%;
    height: 44px;
    border-radius: 10px;
    margin-left: 22%;
    margin-top: 19%;
    font-size: 18px;
    border: transparent;
}
.button_2 a {
    text-decoration: none;
    color: #fff;
}
.button_2:hover {
    background-color: #c72a2ad8;
    cursor: pointer;
}
.button:hover {
    background-color: #c72a2ad8;
    cursor: pointer;
}
.form input[type='text'], .form input[type='number'], form input[type='date'] {
    display: flex;
    margin-bottom: 4%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 8px;
    margin-left: 24%;
    margin-top: 2%;
    width: 50%;
    outline: none;
}
.form label {
    font-weight: bold;
    margin-left: 22%;
}
.message {
    font-size: 21px;
    margin-left: 13%;
    margin-top: 35%;
}
.form input[type='text']:hover, .form input[type='number']:hover, form input[type='date']:hover {
    border: 1px solid #f7a825;
}